In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from datetime import datetime

In [2]:
#Load the raw data
mass_2014 = pd.read_csv("Original_Mass_Shooting_Data/2014.csv")
mass_2015 = pd.read_csv("Original_Mass_Shooting_Data/2015.csv")
mass_2016 = pd.read_csv("Original_Mass_Shooting_Data/2016.csv")
mass_2017 = pd.read_csv("Original_Mass_Shooting_Data/2017.csv")

In [3]:
#add column for total victims from killed and injured
mass_2014['Total_Victims'] = mass_2014['# Killed'] + mass_2014['# Injured']
mass_2015['Total_Victims'] = mass_2015['# Killed'] + mass_2015['# Injured']
mass_2016['Total_Victims'] = mass_2016['# Killed'] + mass_2016['# Injured']
mass_2017['Total_Victims'] = mass_2017['# Killed'] + mass_2017['# Injured']

In [4]:
#totals 2014
total2014 = mass_2014['Total_Victims'].sum()
total_killed_2014 = mass_2014['# Killed'].sum()
total_injured_2014 = mass_2014['# Injured'].sum()

In [5]:
#totals 2015
total2015 = mass_2015['Total_Victims'].sum()
total_killed_2015 = mass_2015['# Killed'].sum()
total_injured_2015 = mass_2015['# Injured'].sum()

In [6]:
#totals 2016
total2016 = mass_2016['Total_Victims'].sum()
total_killed_2016 = mass_2016['# Killed'].sum()
total_injured_2016 = mass_2016['# Injured'].sum()

In [7]:
#totals 2017
total2017 = mass_2017['Total_Victims'].sum()
total_killed_2017 = mass_2017['# Killed'].sum()
total_injured_2017 = mass_2017['# Injured'].sum()

In [8]:
#combine all totals for visualizations
totals = {'Year': ['2014', '2015','2016','2017'], 'Total Injured or Killed': [total2014, total2015, total2016, total2017], 
          'Total Killed': [total_killed_2014, total_killed_2015, total_killed_2016, total_killed_2017],
          'Total Injured': [total_injured_2014, total_injured_2015, total_injured_2016, total_injured_2017]}

In [9]:
#Review dataframe
totals_df = pd.DataFrame(data = totals)
totals_df

   Year  Total Injured or Killed  Total Killed  Total Injured
0  2014                     1340           262           1078
1  2015                     1705           368           1337
2  2016                     1989           451           1538
3  2017                     2240           437           1803

In [10]:
#export as excel for visualization
totals_df.to_csv("totals_df.csv", header=True)

# Total incident count

In [11]:
mass_2014

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Total_Victims
0,29-Dec-14,Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN,4
1,27-Dec-14,California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN,4
2,27-Dec-14,California,Sacramento,4000 block of May Street,0,4,NaN,4
3,26-Dec-14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN,4
4,24-Dec-14,Missouri,Saint Louis,18th and Pine,1,3,NaN,4
5,23-Dec-14,Kentucky,Winchester,260 Oxford Drive,1,3,NaN,4
6,22-Dec-14,Michigan,Detroit,Charlevoix and Philip,1,3,NaN,4
7,22-Dec-14,New York,Webster,191 Lake Road,4,2,NaN,6
8,22-Dec-14,Illinois,Chicago,5700 block of South Green Street,0,5,NaN,5
9,21-Dec-14,Florida,Sarasota,4034 N Washington Blvd,2,2,NaN,4
10,21-Dec-14,Mississippi,Waynesboro,Central Avenue,1,4,NaN,5
11,21-Dec-14,Illinois,Calumet City,600 block of Escanba,1,8,NaN,9
12,20-Dec-14,Illinois,Rockford,3200 block of Montrose Avenue,4,0,NaN,4
13,16-Dec-14,New Jersey,Elizabeth,Anna Street,0,4,NaN,4
14,15-Dec-14,Pennsylvania,Lansdale,100 block of West 5th St,7,0,NaN,7
15,14-Dec-14,Florida,Miami,1311 Northwest 2nd Avenue,1,4,NaN,5
16,13-Dec-14,Florida,Tampa,810 E. Skagway Ave.,0,5,NaN,5
17,12-Dec-14,Oregon,Portland,717 North Killingsworth Court,0,4,NaN,4
18,7-Dec-14,Indiana,South Bend,16000 block of Roosevelt Road,0,4,NaN,4
19,2-Dec-14,Missouri,Saint Louis,6000 block of Virginia Avenue,1,5,NaN,6
20,2-Dec-14,Virginia,Newport News,6128 Jefferson Ave,0,5,NaN,5
21,30-Nov-14,New York,Brooklyn,375 Remsen Avenue,0,4,NaN,4
22,30-Nov-14,Tennessee,Chattanooga,2412 East 13th Street,0,5,NaN,5
23,29-Nov-14,New Jersey,Newark,348 S Orange Ave,1,3,NaN,4
24,29-Nov-14,Georgia,Atlanta,1600 block of Richmond Avenue,3,2,NaN,5
25,28-Nov-14,Tennessee,Memphis,1849 East Brooks Road,0,4,NaN,4
26,27-Nov-14,Texas,Georgetown,Pvt Rd 934,2,3,NaN,5
27,26-Nov-14,California,San Francisco,Mission and 13th streets,0,6,NaN,6
28,23-Nov-14,Virginia,Parksley,Parksley Road,0,4,NaN,4
29,23-Nov-14,Colorado,Denver,Federal Boulevard and 16th Avenue,1,4,NaN,5
...,...,...,...,...,...,...,...,...
238,20-Feb-14,Indiana,Indianapolis,3400 block of South Parker,4,0,NaN,4
239,20-Feb-14,California,Alturas,300 W 1st St,4,2,NaN,6
240,16-Feb-14,Texas,Fort Worth,115 NW 25th St.,1,4,NaN,5
241,16-Feb-14,Florida,Orange County,4500 block of Riviera Shores,1,6,NaN,7
242,16-Feb-14,Florida,Jacksonville,1187 S. Edgewood Ave.,1,4,NaN,5
243,16-Feb-14,Texas,Dallas,2600 block of South Harwood Street,1,7,NaN,8
244,16-Feb-14,Indiana,Fort Wayne,Lafayette Street and East Tillman Road,0,5,NaN,5
245,15-Feb-14,Nevada,Las Vegas,Sahara and Maryland,0,5,NaN,5
246,12-Feb-14,Indiana,Gary,2220 block of Broadway,0,5,NaN,5
247,12-Feb-14,California,Oakland,37th and International,1,3,NaN,4
248,12-Feb-14,California,Stockton,Constitution Park,1,3,NaN,4
249,7-Feb-14,Florida,Miami,Northwest 41st Street and 9th Avenue,0,5,NaN,5
250,6-Feb-14,Louisiana,New Orleans,4600 block of Downman Road,0,4,NaN,4
251,5-Feb-14,Illinois,Chicago,6740 N Clark St,1,3,NaN,4
252,3-Feb-14,Indiana,Franklin,2100 block of Bridlewood Dr,3,2,NaN,5
253,27-Jan-14,North Carolina,Rocky Mount,821 Word Plaza,0,4,NaN,4
254,27-Jan-14,Washington,Seattle,2nd Avenue South and South Main Street,1,4,NaN,5
255,25-Jan-14,Illinois,Chicago,S. Union Av and W. 51st St,1,4,NaN,5
256,25-Jan-14,Florida,Belle Glade,600 block of Covenant Drive,0,4,NaN,4
257,21-Jan-14,New Jersey,Newark,Springfield Avenue,2,3,NaN,5
258,20-Jan-14,Virginia,Manassas,8509 Rixlew Ln,0,4,NaN,4
259,16-Jan-14,Oklahoma,Ardmore,H St NE and Martin Luther King Blvd,2,5,NaN,7
260,16-Jan-14,Utah,Spanish Fork,37 N. 630 West,5,0,NaN,5
261,14-Jan-14,California,Los Angeles,West 86th Street,0,4,NaN,4
262,13-Jan-14,Michigan,Detroit,800 block of Calvert St,0,4,NaN,4
263,12-Jan-14,Louisiana,Tallulah,3600 block of Highway 80 W,0,6,NaN,6
264,12-Jan-14,Alabama,Huntsville,University Drive,0,5,NaN,5
265,12-Jan-14,Illinois,Elgin,300 block of North Street,0,5,NaN,5
266,3-Jan-14,New York,Queens,Farmers Boulevard and 133rd Avenue,1,3,NaN,4
267,1-Jan-14,Virginia,Norfolk,Rockingham Street and Berkley Avenue Extended,2,2,NaN,4

In [12]:
#extract total shooting count and total victims per State
mass_2014_count = mass_2014.groupby(['State']).count()['Incident Date']
mass_2014_percaps = mass_2014.groupby(['State']).sum()['Total_Victims']
#convert to df
mass_2014_count = pd.DataFrame(data = mass_2014_count)
mass_2014_percaps = pd.DataFrame(data = mass_2014_percaps)
#merge
mass_2014_states = pd.merge(mass_2014_count, mass_2014_percaps, on = 'State')
mass_2014_states = pd.DataFrame( data = mass_2014_states)

In [13]:
#extract total shooting count and total victims per State
mass_2015_count = mass_2015.groupby(['State']).count()['Incident Date']
mass_2015_percaps = mass_2015.groupby(['State']).sum()['Total_Victims']
#convert to df
mass_2015_count = pd.DataFrame(data = mass_2015_count)
mass_2015_percaps = pd.DataFrame(data = mass_2015_percaps)
#merge
mass_2015_states = pd.merge(mass_2015_count, mass_2015_percaps, on = 'State')
mass_2015_states = pd.DataFrame( data = mass_2015_states)

In [14]:
#extract total shooting count and total victims per State
mass_2016_count = mass_2016.groupby(['State']).count()['Incident Date']
mass_2016_percaps = mass_2016.groupby(['State']).sum()['Total_Victims']
#convert to df
mass_2016_count = pd.DataFrame(data = mass_2016_count)
mass_2016_percaps = pd.DataFrame(data = mass_2016_percaps)
#merge
mass_2016_states = pd.merge(mass_2016_count, mass_2016_percaps, on = 'State')
mass_2016_states = pd.DataFrame( data = mass_2016_states)

In [15]:
#extract total shooting count and total victims per State
mass_2017_count = mass_2017.groupby(['State']).count()['Incident Date']
mass_2017_percaps = mass_2017.groupby(['State']).sum()['Total_Victims']
#convert to df
mass_2017_count = pd.DataFrame(data = mass_2017_count)
mass_2017_percaps = pd.DataFrame(data = mass_2017_percaps)
#merge
mass_2017_states = pd.merge(mass_2017_count, mass_2017_percaps, on = 'State')
mass_2017_states = pd.DataFrame( data = mass_2017_states)

In [16]:
mass_2017_states.dtypes

Incident Date    int64
Total_Victims    int64
dtype: object

In [17]:
#groupby State & convert to df for later merge
# mass_2014_states = mass_2014.groupby(['State']).count()['Incident Date']
# mass_2014_states = pd.DataFrame(data = mass_2014_states)
# mass_2015_states = mass_2015.groupby(['State']).count()['Incident Date']
# mass_2015_states = pd.DataFrame(data = mass_2015_states)
# mass_2016_states = mass_2016.groupby(['State']).count()['Incident Date']
# mass_2016_states = pd.DataFrame(data = mass_2016_states)
# mass_2017_states = mass_2017.groupby(['State']).count()['Incident Date']
# mass_2017_states = pd.DataFrame(data = mass_2017_states)

In [18]:
#Merge all years and rename columns
state_count_1 = pd.merge(mass_2014_states, mass_2015_states, how = 'outer', on = 'State')
state_count_2 = pd.merge(mass_2016_states,mass_2017_states, how = 'outer', on = 'State')
state_count_all = pd.merge(state_count_1, state_count_2,how = 'outer', on = 'State')

state_count_all

state_count_all.columns = ['Count_2014', 'Total_Victims 2014', 'Count_2015 ', 'Total_Victims 2015', 'Count_2016 ', 'Total_Victims 2016',
'Count_2017', 'Total_Victims 2017']
#fill na values with 0
state_count_all = state_count_all.fillna(0)
state_count_all.to_csv("total_count_by_state.csv", header=True)

In [19]:
state_count_all

,Count_2014,Total_Victims 2014,Count_2015,Total_Victims 2015,Count_2016,Total_Victims 2016,Count_2017,Total_Victims 2017
State,,,,,,,,
Alabama,2.0,10.0,4.0,17.0,15.0,69.0,7.0,44.0
Alaska,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
Arizona,1.0,4.0,6.0,29.0,4.0,27.0,5.0,20.0
Arkansas,2.0,12.0,2.0,16.0,3.0,14.0,3.0,37.0
California,42.0,208.0,27.0,154.0,46.0,228.0,37.0,186.0
Colorado,2.0,9.0,3.0,20.0,4.0,16.0,2.0,12.0
Connecticut,1.0,5.0,2.0,14.0,6.0,36.0,2.0,8.0
District of Columbia,6.0,27.0,2.0,9.0,5.0,25.0,5.0,24.0
Florida,16.0,91.0,25.0,110.0,30.0,267.0,24.0,122.0
Georgia,17.0,85.0,20.0,98.0,17.0,81.0,9.0,45.0
Illinois,26.0,128.0,25.0,117.0,42.0,190.0,36.0,173.0
Indiana,8.0,38.0,10.0,49.0,8.0,33.0,7.0,33.0
Kentucky,4.0,16.0,4.0,20.0,2.0,10.0,6.0,28.0
Louisiana,11.0,60.0,14.0,84.0,13.0,69.0,15.0,69.0
Maine,1.0,5.0,0.0,0.0,0.0,0.0,1.0,5.0
Maryland,1.0,4.0,13.0,60.0,11.0,59.0,8.0,34.0
Massachusetts,4.0,20.0,5.0,24.0,3.0,15.0,1.0,4.0
Michigan,11.0,51.0,11.0,58.0,11.0,58.0,8.0,34.0
Minnesota,1.0,9.0,5.0,24.0,5.0,25.0,4.0,17.0
Mississippi,4.0,19.0,2.0,9.0,6.0,29.0,13.0,65.0
Missouri,8.0,37.0,13.0,61.0,10.0,46.0,10.0,48.0
Nevada,4.0,17.0,1.0,4.0,3.0,13.0,2.0,504.0
New Jersey,6.0,29.0,9.0,36.0,9.0,45.0,13.0,54.0
New Mexico,1.0,4.0,2.0,11.0,4.0,18.0,2.0,11.0
New York,14.0,60.0,21.0,109.0,15.0,74.0,13.0,60.0
North Carolina,3.0,14.0,12.0,59.0,9.0,41.0,7.0,34.0
Ohio,7.0,33.0,14.0,71.0,11.0,54.0,21.0,117.0
Oklahoma,2.0,11.0,5.0,23.0,1.0,6.0,1.0,5.0
Oregon,2.0,9.0,2.0,24.0,2.0,8.0,0.0,0.0
Pennsylvania,9.0,46.0,15.0,74.0,10.0,48.0,15.0,67.0
Rhode Island,1.0,5.0,1.0,4.0,0.0,0.0,0.0,0.0
South Carolina,7.0,36.0,11.0,51.0,5.0,21.0,7.0,37.0
South Dakota,1.0,5.0,1.0,6.0,0.0,0.0,0.0,0.0
Tennessee,13.0,61.0,11.0,56.0,12.0,58.0,14.0,70.0
Texas,14.0,90.0,19.0,117.0,31.0,157.0,22.0,150.0
Utah,2.0,11.0,0.0,0.0,0.0,0.0,1.0,5.0
Virginia,8.0,40.0,5.0,23.0,11.0,55.0,12.0,58.0
Washington,3.0,16.0,1.0,4.0,8.0,37.0,3.0,14.0
Wisconsin,2.0,9.0,3.0,15.0,2.0,8.0,2.0,9.0
Delaware,0.0,0.0,1.0,6.0,2.0,9.0,1.0,4.0
Iowa,0.0,0.0,2.0,9.0,0.0,0.0,2.0,9.0
Kansas,0.0,0.0,1.0,4.0,5.0,36.0,4.0,19.0
Montana,0.0,0.0,1.0,5.0,0.0,0.0,1.0,5.0
Nebraska,0.0,0.0,3.0,17.0,0.0,0.0,0.0,0.0
Vermont,0.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0
West Virginia,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0

In [20]:
#state totals
state_count_all['total_count'] = state_count_all['Count_2014'] + state_count_all['Count_2015 '] + state_count_all['Count_2016 '] + state_count_all['Count_2017']

#sort table for basic stats
state_count_all.sort_values(by=['Count_2017'])

,Count_2014,Total_Victims 2014,Count_2015,Total_Victims 2015,Count_2016,Total_Victims 2016,Count_2017,Total_Victims 2017,total_count
State,,,,,,,,,
West Virginia,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,1.0
Alaska,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Rhode Island,1.0,5.0,1.0,4.0,0.0,0.0,0.0,0.0,2.0
Vermont,0.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0,1.0
Nebraska,0.0,0.0,3.0,17.0,0.0,0.0,0.0,0.0,3.0
South Dakota,1.0,5.0,1.0,6.0,0.0,0.0,0.0,0.0,2.0
Oregon,2.0,9.0,2.0,24.0,2.0,8.0,0.0,0.0,6.0
Utah,2.0,11.0,0.0,0.0,0.0,0.0,1.0,5.0,3.0
Massachusetts,4.0,20.0,5.0,24.0,3.0,15.0,1.0,4.0,13.0
Maine,1.0,5.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0
Delaware,0.0,0.0,1.0,6.0,2.0,9.0,1.0,4.0,4.0
Oklahoma,2.0,11.0,5.0,23.0,1.0,6.0,1.0,5.0,9.0
Montana,0.0,0.0,1.0,5.0,0.0,0.0,1.0,5.0,2.0
Connecticut,1.0,5.0,2.0,14.0,6.0,36.0,2.0,8.0,11.0
Colorado,2.0,9.0,3.0,20.0,4.0,16.0,2.0,12.0,11.0
Nevada,4.0,17.0,1.0,4.0,3.0,13.0,2.0,504.0,10.0
New Mexico,1.0,4.0,2.0,11.0,4.0,18.0,2.0,11.0,9.0
Iowa,0.0,0.0,2.0,9.0,0.0,0.0,2.0,9.0,4.0
Wisconsin,2.0,9.0,3.0,15.0,2.0,8.0,2.0,9.0,9.0
Washington,3.0,16.0,1.0,4.0,8.0,37.0,3.0,14.0,15.0
Arkansas,2.0,12.0,2.0,16.0,3.0,14.0,3.0,37.0,10.0
Kansas,0.0,0.0,1.0,4.0,5.0,36.0,4.0,19.0,10.0
Minnesota,1.0,9.0,5.0,24.0,5.0,25.0,4.0,17.0,15.0
District of Columbia,6.0,27.0,2.0,9.0,5.0,25.0,5.0,24.0,18.0
Arizona,1.0,4.0,6.0,29.0,4.0,27.0,5.0,20.0,16.0
Kentucky,4.0,16.0,4.0,20.0,2.0,10.0,6.0,28.0,16.0
South Carolina,7.0,36.0,11.0,51.0,5.0,21.0,7.0,37.0,30.0
Alabama,2.0,10.0,4.0,17.0,15.0,69.0,7.0,44.0,28.0
North Carolina,3.0,14.0,12.0,59.0,9.0,41.0,7.0,34.0,31.0
Indiana,8.0,38.0,10.0,49.0,8.0,33.0,7.0,33.0,33.0
Maryland,1.0,4.0,13.0,60.0,11.0,59.0,8.0,34.0,33.0
Michigan,11.0,51.0,11.0,58.0,11.0,58.0,8.0,34.0,41.0
Georgia,17.0,85.0,20.0,98.0,17.0,81.0,9.0,45.0,63.0
Missouri,8.0,37.0,13.0,61.0,10.0,46.0,10.0,48.0,41.0
Virginia,8.0,40.0,5.0,23.0,11.0,55.0,12.0,58.0,36.0
Mississippi,4.0,19.0,2.0,9.0,6.0,29.0,13.0,65.0,25.0
New York,14.0,60.0,21.0,109.0,15.0,74.0,13.0,60.0,63.0
New Jersey,6.0,29.0,9.0,36.0,9.0,45.0,13.0,54.0,37.0
Tennessee,13.0,61.0,11.0,56.0,12.0,58.0,14.0,70.0,50.0
Louisiana,11.0,60.0,14.0,84.0,13.0,69.0,15.0,69.0,53.0
Pennsylvania,9.0,46.0,15.0,74.0,10.0,48.0,15.0,67.0,49.0
Ohio,7.0,33.0,14.0,71.0,11.0,54.0,21.0,117.0,53.0
Texas,14.0,90.0,19.0,117.0,31.0,157.0,22.0,150.0,86.0
Florida,16.0,91.0,25.0,110.0,30.0,267.0,24.0,122.0,95.0
Illinois,26.0,128.0,25.0,117.0,42.0,190.0,36.0,173.0,129.0
California,42.0,208.0,27.0,154.0,46.0,228.0,37.0,186.0,152.0

In [21]:
#Rename States & reset index for later merge with census data
state_count_all.index.names = ['States']
state_count_all = state_count_all.reset_index()
mass_2014_states.index.names = ['States']
mass_2014_states = mass_2014_states.reset_index()
mass_2015_states.index.names = ['States']
mass_2015_states = mass_2015_states.reset_index()
mass_2016_states.index.names = ['States']
mass_2016_states = mass_2016_states.reset_index()
mass_2017_states.index.names = ['States']
mass_2017_states = mass_2017_states.reset_index()

In [22]:
state_count_all.sum() #total count over the years

States                AlabamaAlaskaArizonaArkansasCaliforniaColorado...
Count_2014                                                          268
Total_Victims 2014                                                 1340
Count_2015                                                          335
Total_Victims 2015                                                 1705
Count_2016                                                          382
Total_Victims 2016                                                 1989
Count_2017                                                          346
Total_Victims 2017                                                 2240
total_count                                                        1331
dtype: object

In [23]:
total_mass_shootings = state_count_all.sum()  #get total of mass shootings
#create a data frame for visualization
years = ['2014', '2015', '2016', '2017']
data = [268, 335, 382, 346]
total_mass_shootings = {'years': years, 'total_shootings' : data}
total_mass_shootings = pd.DataFrame(data = total_mass_shootings)

#export as excel for visualization
total_mass_shootings.to_csv("total_mass_shootings.csv", index = False, header=True)

# Pull US Census Data (2018 Data Not Available)

In [24]:
# Census & gmaps API Keys
from config import (census_key, gkey)
c = Census(census_key, year=2017)

# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2017 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

census_pd_2017.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates
0,72,Puerto Rico,3468963.0,40.1,19775.0,12081.0,1543220.0,44.486494,220597.0,6.359163
1,01,Alabama,4850771.0,38.7,46472.0,25746.0,849699.0,17.516782,165391.0,3.409582
2,02,Alaska,738565.0,33.9,76114.0,35065.0,73380.0,9.935483,29548.0,4.000731
3,04,Arizona,6809946.0,37.2,53510.0,27964.0,1128046.0,16.564683,225911.0,3.317368
4,05,Arkansas,2977944.0,37.9,43813.0,24426.0,524211.0,17.603118,85128.0,2.858617

In [25]:
# Census & gmaps API Keys
c = Census(census_key, year=2016)

# Configure gmaps
gmaps.configure(api_key="AIzaSyDH3ugUF6TPqs5vaqe5M03_9DXKzT8WAe8")
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2016 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

In [26]:
# Census & gmaps API Keys
c = Census(census_key, year=2015)

# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2015 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

census_pd_2015.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates
0,01,Alabama,4830620.0,38.4,43623.0,24091.0,887260.0,18.367415,207097.0,4.287172
1,02,Alaska,733375.0,33.4,72515.0,33413.0,72957.0,9.948117,31285.0,4.265894
2,04,Arizona,6641928.0,36.8,50255.0,25848.0,1180690.0,17.776314,275712.0,4.151084
3,05,Arkansas,2958208.0,37.7,41371.0,22798.0,553644.0,18.715520,104943.0,3.547519
4,06,California,38421464.0,35.8,61818.0,30318.0,6135142.0,15.968007,1891081.0,4.921939

In [27]:
# Census & gmaps API Keys
c = Census(census_key, year=2014)

# Configure gmaps
gmaps.configure(api_key="AIzaSyDH3ugUF6TPqs5vaqe5M03_9DXKzT8WAe8")
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2014 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

census_pd_2014.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates
0,01,Alabama,4817678.0,38.2,43511.0,23936.0,889710.0,18.467610,228716.0,4.747432
1,02,Alaska,728300.0,33.4,71829.0,33129.0,71866.0,9.867637,32097.0,4.407112
2,04,Arizona,6561516.0,36.5,49928.0,25537.0,1169309.0,17.820714,304067.0,4.634097
3,05,Arkansas,2947036.0,37.6,41264.0,22595.0,549303.0,18.639168,115090.0,3.905280
4,06,California,38066920.0,35.6,61489.0,29906.0,6115244.0,16.064457,2084564.0,5.476051

In [28]:
#rename columns for later merging
census_pd_2014 = census_pd_2014.rename(columns = {'Name':'States'})
census_pd_2015 = census_pd_2015.rename(columns = {'Name':'States'})
census_pd_2016 = census_pd_2016.rename(columns = {'Name':'States'})
census_pd_2017 = census_pd_2017.rename(columns = {'Name':'States'})

In [29]:
#merge Census and mass shooting data
merged_2014 = pd.merge(mass_2014_states, census_pd_2014, on = 'States')
merged_2015 = pd.merge(mass_2015_states, census_pd_2015, on = 'States')
merged_2016 = pd.merge(mass_2016_states, census_pd_2016, on = 'States')
merged_2017 = pd.merge(mass_2017_states, census_pd_2017, on = 'States')

In [30]:
#load in coordinates for map
coordinates = pd.read_csv('Original_Centroid/state_centroids.csv')
coordinates = pd.DataFrame(data = coordinates)
#rename column for merge with full df
coordinates = coordinates.rename(columns = {'State':'States'})

In [31]:
#merge census & mass shooting data
merged_2014 = pd.merge(merged_2014, coordinates, on = 'States')
merged_2015 = pd.merge(merged_2015, coordinates, on = 'States')
merged_2016 = pd.merge(merged_2016, coordinates, on = 'States')
merged_2017 = pd.merge(merged_2017, coordinates, on = 'States')

#rename columns to tidy up the dataset
merged_2014 = merged_2014.rename(columns = {'Incident Date': 'Mass Shooting Count'})
merged_2015 = merged_2015.rename(columns = {'Incident Date': 'Mass Shooting Count'})
merged_2016 = merged_2016.rename(columns = {'Incident Date': 'Mass Shooting Count'})
merged_2017 = merged_2017.rename(columns = {'Incident Date': 'Mass Shooting Count'})

#add column for per capita Mass Shooting
merged_2014['Per Capita Mass Shooting'] = merged_2014['Total_Victims'] / merged_2014['Population'] *100000
merged_2015['Per Capita Mass Shooting'] = merged_2015['Total_Victims'] / merged_2015['Population'] *100000
merged_2016['Per Capita Mass Shooting'] = merged_2016['Total_Victims'] / merged_2016['Population'] *100000
merged_2017['Per Capita Mass Shooting'] = merged_2017['Total_Victims'] / merged_2017['Population'] *100000

In [32]:
#sort table for basic stats
merged_2017.sort_values(by=['Mass Shooting Count'])

,States,Mass Shooting Count,Total_Victims,State,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates,Latitude,Longitude,Per Capita Mass Shooting
18,Massachusetts,1,4,25,6789319.0,39.4,74167.0,39913.0,727546.0,10.716038,224856.0,3.311908,42.2596,-71.8083,0.058916
35,Utah,1,5,49,2993941.0,30.5,65325.0,26907.0,324856.0,10.850448,64314.0,2.148139,39.3055,-111.6703,0.167004
6,Delaware,1,4,10,943732.0,39.8,63036.0,32625.0,111304.0,11.794026,30245.0,3.204829,38.9896,-75.5050,0.423849
23,Montana,1,5,30,1029862.0,39.8,50801.0,28706.0,144198.0,14.001682,25076.0,2.434889,47.0527,-109.6333,0.485502
16,Maine,1,5,23,1330158.0,44.3,53024.0,29886.0,166904.0,12.547682,36790.0,2.765837,45.3695,-69.2428,0.375895
30,Oklahoma,1,5,40,3896251.0,36.3,49767.0,26461.0,612714.0,15.725732,105375.0,2.704523,35.5889,-97.4943,0.128328
38,Wisconsin,2,9,55,5763217.0,39.2,56759.0,30557.0,692719.0,12.019658,145271.0,2.520658,44.6243,-89.9941,0.156163
4,Colorado,2,12,08,5436519.0,36.5,65458.0,34845.0,612143.0,11.259834,152856.0,2.811652,38.9972,-105.5478,0.220729
5,Connecticut,2,8,09,3594478.0,40.8,73781.0,41365.0,350783.0,9.758941,140712.0,3.914671,41.6219,-72.7273,0.222564
26,New Mexico,2,11,35,2084828.0,37.3,46718.0,25257.0,420293.0,20.159601,73710.0,3.535543,34.4071,-106.1126,0.527621
12,Iowa,2,9,19,3118102.0,38.1,56570.0,30063.0,361343.0,11.588556,69018.0,2.213462,42.0751,-93.4960,0.288637
24,Nevada,2,504,32,2887725.0,37.7,55434.0,28450.0,405263.0,14.033989,116285.0,4.026872,39.3289,-116.6312,17.453185
2,Arkansas,3,37,05,2977944.0,37.9,43813.0,24426.0,524211.0,17.603118,85128.0,2.858617,34.8938,-92.4426,1.242468
37,Washington,3,14,53,7169967.0,37.6,66174.0,34869.0,859950.0,11.993779,218821.0,3.051911,47.3826,-120.4472,0.195259
20,Minnesota,4,17,27,5490726.0,37.9,65699.0,34712.0,560995.0,10.217137,130510.0,2.376917,46.2807,-94.3053,0.309613
13,Kansas,4,19,20,2903820.0,36.3,55477.0,29600.0,361285.0,12.441715,71009.0,2.445365,38.4937,-98.3804,0.654311
7,District of Columbia,5,24,11,672391.0,33.9,77649.0,50832.0,111025.0,16.511970,31279.0,4.651906,38.9101,-77.0147,3.569352
1,Arizona,5,20,04,6809946.0,37.2,53510.0,27964.0,1128046.0,16.564683,225911.0,3.317368,34.2744,-111.6602,0.293688
14,Kentucky,6,28,21,4424376.0,38.6,46535.0,25888.0,783586.0,17.710656,140717.0,3.180494,37.5347,-85.3021,0.632858
32,South Carolina,7,37,45,4893444.0,39.0,48781.0,26645.0,790657.0,16.157475,170257.0,3.479288,33.9169,-80.8964,0.756114
28,North Carolina,7,34,37,10052564.0,38.4,50320.0,28123.0,1579871.0,15.716100,352287.0,3.504449,35.5557,-79.3877,0.338222
0,Alabama,7,44,01,4850771.0,38.7,46472.0,25746.0,849699.0,17.516782,165391.0,3.409582,32.7794,-86.8287,0.907072
11,Indiana,7,33,18,6614418.0,37.5,52182.0,27305.0,933540.0,14.113713,202199.0,3.056943,39.8942,-86.2816,0.498910
19,Michigan,8,34,26,9925568.0,39.6,52668.0,28938.0,1510841.0,15.221708,361624.0,3.643358,44.3467,-85.4102,0.342550
17,Maryland,8,34,24,5996079.0,38.5,78916.0,39070.0,566966.0,9.455613,198375.0,3.308412,39.0550,-76.7909,0.567037
9,Georgia,9,45,13,10201635.0,36.4,52977.0,28015.0,1679030.0,16.458440,372581.0,3.652169,32.6415,-83.4426,0.441106
22,Missouri,10,48,29,6075300.0,38.4,51542.0,28282.0,861679.0,14.183316,175919.0,2.895643,38.3566,-92.4580,0.790084
36,Virginia,12,58,51,8365952.0,38.0,68766.0,36268.0,906838.0,10.839627,236648.0,2.828704,37.5215,-78.8537,0.693286
27,New York,13,60,36,19798228.0,38.4,62765.0,35752.0,2908471.0,14.690562,685368.0,3.461764,42.9538,-75.5268,0.303057
21,Mississippi,13,65,28,2986220.0,36.9,42009.0,22500.0,620007.0,20.762268,117786.0,3.944318,32.7364,-89.6678,2.176665
25,New Jersey,13,54,34,8960161.0,39.6,76475.0,39069.0,938252.0,10.471374,328167.0,3.662512,40.1907,-74.6728,0.602668
33,Tennessee,14,70,47,6597381.0,38.6,48708.0,27277.0,1072360.0,16.254329,210756.0,3.194540,35.8580,-86.3505,1.061027
15,Louisiana,15,69,22,4663461.0,36.4,46710.0,26205.0,887574.0,19.032517,157186.0,3.370587,31.0689,-91.9968,1.479588
31,Pennsylvania,15,67,42,12790505.0,40.7,56951.0,31476.0,1623537.0,12.693299,422016.0,3.299448,40.8781,-77.7996,0.523826
29,Ohio,21,117,39,11609756.0,39.3,52407.0,29011.0,1683890.0,14.504095,378735.0,3.262213,40.2862,-82.7937,1.007773
34,Texas,22,150,48,27419612.0,34.3,57051.0,28985.0,4291384.0,15.650783,784888.0,2.862506,31.4757,-99.3312,0.547054
8,Florida,24,122,12,20278447.0,41.8,50883.0,28774.0,3070972.0,15.144020,699117.0,3.447586,28.6305,-82.4497,0.601624
10,Illinois,36,173,17,12854526.0,37.7,61229.0,32924.0,1698613.0,13.214124,491310.0,3.822078,40.0417,-89.1965,1.345829
3,California,37,186,06,38982847.0,36.1,67169.0,33128.0,5773408.0,14.810124,1491146.0,3.825134,37.1841,-119.4696,0.477133

In [33]:
#export as excel for visualization
merged_2014.to_csv("merged_2014.csv", index = False, header=True)
merged_2015.to_csv("merged_2015.csv", index = False, header=True)
merged_2016.to_csv("merged_2016.csv", index = False, header=True)
merged_2017.to_csv("merged_2017.csv", index = False, header=True)

# Hate Group Data

In [34]:
#2017
#load in hategroup activity data
hate = pd.read_csv('Original_Hate_Data/splc-hate-groups-2017.csv')
hate = pd.DataFrame(data = hate)
#rename column for merge with full df
hate = hate.rename(columns = {'State':'States'})

#create a count of hategroups by state
hate_group = hate.groupby(['States']).count()['Title']
hate_group = pd.DataFrame(data = hate_group)
hate_group = hate_group.reset_index()
hate_group_merged = pd.merge(merged_2017, hate_group, on = 'States')

#rename for tidy analysis
hate_group_merged = hate_group_merged.rename(columns = {'Title': 'Hate Group Count'})

In [35]:
#2016
#load in hategroup activity data
hate2016 = pd.read_csv('Original_Hate_Data/splc-hate-groups-2016.csv')
hate2016 = pd.DataFrame(data = hate2016)
#rename column for merge with full df
hate2016 = hate2016.rename(columns = {'State':'States'})

#create a count of hategroups by state
hate_group_2016 = hate2016.groupby(['States']).count()['Title']
hate_group_2016 = pd.DataFrame(data = hate_group_2016)
hate_group_2016 = hate_group_2016.reset_index()
hate_group_merged_2016 = pd.merge(merged_2016, hate_group_2016, on = 'States')

#rename for tidy analysis
hate_group_merged_2016 = hate_group_merged_2016.rename(columns = {'Title': 'Hate Group Count'})

In [36]:
#2015
#load in hategroup activity data
hate2015 = pd.read_csv('Original_Hate_Data/splc-hate-groups-2015.csv')
hate2015 = pd.DataFrame(data = hate2015)
#rename column for merge with full df
hate2015 = hate2015.rename(columns = {'State':'States'})

#create a count of hategroups by state
hate_group_2015 = hate2015.groupby(['States']).count()['Title']
hate_group_2015 = pd.DataFrame(data = hate_group_2015)
hate_group_2015 = hate_group_2015.reset_index()
hate_group_merged_2015 = pd.merge(merged_2015, hate_group_2015, on = 'States')

#rename for tidy analysis
hate_group_merged_2015 = hate_group_merged_2015.rename(columns = {'Title': 'Hate Group Count'})

In [37]:
#2014
#load in hategroup activity data
hate2014 = pd.read_csv('Original_Hate_Data/splc-hate-groups-2014.csv')
hate2014 = pd.DataFrame(data = hate2014)
#rename column for merge with full df
hate2014 = hate2014.rename(columns = {'State':'States'})

#create a count of hategroups by state
hate_group_2014 = hate2014.groupby(['States']).count()['Title']
hate_group_2014 = pd.DataFrame(data = hate_group_2014)
hate_group_2014 = hate_group_2014.reset_index()
hate_group_merged_2014 = pd.merge(merged_2014, hate_group_2014, on = 'States')

#rename for tidy analysis
hate_group_merged_2014 = hate_group_merged_2014.rename(columns = {'Title': 'Hate Group Count'})

In [38]:
#new column for hate groups per capita
hate_group_merged['Per Capita Hate Group'] = hate_group_merged['Hate Group Count'] / hate_group_merged['Population'] * 100000
hate_group_merged_2016['Per Capita Hate Group'] = hate_group_merged_2016['Hate Group Count'] / hate_group_merged_2016['Population'] * 100000
hate_group_merged_2015['Per Capita Hate Group'] = hate_group_merged_2015['Hate Group Count'] / hate_group_merged_2015['Population'] * 100000
hate_group_merged_2014['Per Capita Hate Group'] = hate_group_merged_2014['Hate Group Count'] / hate_group_merged_2014['Population'] * 100000

In [39]:
#export as excel for visualization
hate_group_merged.to_csv("hate_group_merged.csv", index = False, header=True)
hate_group_merged_2016.to_csv("hate_group_merged_2016.csv", index = False, header=True)
hate_group_merged_2015.to_csv("hate_group_merged_2015.csv", index = False, header=True)
hate_group_merged_2014.to_csv("hate_group_merged_2014.csv", index = False, header=True)

In [43]:
#explore 2017 hate group data
hate_group_merged.sort_values(by=['Hate Group Count'], ascending = False)

,States,Mass Shooting Count,Total_Victims,State,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates,Latitude,Longitude,Per Capita Mass Shooting,Hate Group Count,Per Capita Hate Group
3,California,37,186,06,38982847.0,36.1,67169.0,33128.0,5773408.0,14.810124,1491146.0,3.825134,37.1841,-119.4696,0.477133,75,0.192392
34,Texas,22,150,48,27419612.0,34.3,57051.0,28985.0,4291384.0,15.650783,784888.0,2.862506,31.4757,-99.3312,0.547054,66,0.240704
8,Florida,24,122,12,20278447.0,41.8,50883.0,28774.0,3070972.0,15.144020,699117.0,3.447586,28.6305,-82.4497,0.601624,66,0.325469
27,New York,13,60,36,19798228.0,38.4,62765.0,35752.0,2908471.0,14.690562,685368.0,3.461764,42.9538,-75.5268,0.303057,48,0.242446
9,Georgia,9,45,13,10201635.0,36.4,52977.0,28015.0,1679030.0,16.458440,372581.0,3.652169,32.6415,-83.4426,0.441106,40,0.392094
36,Virginia,12,58,51,8365952.0,38.0,68766.0,36268.0,906838.0,10.839627,236648.0,2.828704,37.5215,-78.8537,0.693286,37,0.442269
33,Tennessee,14,70,47,6597381.0,38.6,48708.0,27277.0,1072360.0,16.254329,210756.0,3.194540,35.8580,-86.3505,1.061027,37,0.560829
31,Pennsylvania,15,67,42,12790505.0,40.7,56951.0,31476.0,1623537.0,12.693299,422016.0,3.299448,40.8781,-77.7996,0.523826,36,0.281459
10,Illinois,36,173,17,12854526.0,37.7,61229.0,32924.0,1698613.0,13.214124,491310.0,3.822078,40.0417,-89.1965,1.345829,35,0.272278
28,North Carolina,7,34,37,10052564.0,38.4,50320.0,28123.0,1579871.0,15.716100,352287.0,3.504449,35.5557,-79.3877,0.338222,32,0.318327
29,Ohio,21,117,39,11609756.0,39.3,52407.0,29011.0,1683890.0,14.504095,378735.0,3.262213,40.2862,-82.7937,1.007773,31,0.267017
11,Indiana,7,33,18,6614418.0,37.5,52182.0,27305.0,933540.0,14.113713,202199.0,3.056943,39.8942,-86.2816,0.498910,30,0.453555
19,Michigan,8,34,26,9925568.0,39.6,52668.0,28938.0,1510841.0,15.221708,361624.0,3.643358,44.3467,-85.4102,0.342550,29,0.292175
37,Washington,3,14,53,7169967.0,37.6,66174.0,34869.0,859950.0,11.993779,218821.0,3.051911,47.3826,-120.4472,0.195259,26,0.362624
7,District of Columbia,5,24,11,672391.0,33.9,77649.0,50832.0,111025.0,16.511970,31279.0,4.651906,38.9101,-77.0147,3.569352,26,3.866798
0,Alabama,7,44,01,4850771.0,38.7,46472.0,25746.0,849699.0,17.516782,165391.0,3.409582,32.7794,-86.8287,0.907072,23,0.474151
1,Arizona,5,20,04,6809946.0,37.2,53510.0,27964.0,1128046.0,16.564683,225911.0,3.317368,34.2744,-111.6602,0.293688,22,0.323057
4,Colorado,2,12,08,5436519.0,36.5,65458.0,34845.0,612143.0,11.259834,152856.0,2.811652,38.9972,-105.5478,0.220729,21,0.386277
17,Maryland,8,34,24,5996079.0,38.5,78916.0,39070.0,566966.0,9.455613,198375.0,3.308412,39.0550,-76.7909,0.567037,19,0.316874
22,Missouri,10,48,29,6075300.0,38.4,51542.0,28282.0,861679.0,14.183316,175919.0,2.895643,38.3566,-92.4580,0.790084,18,0.296282
25,New Jersey,13,54,34,8960161.0,39.6,76475.0,39069.0,938252.0,10.471374,328167.0,3.662512,40.1907,-74.6728,0.602668,17,0.189729
21,Mississippi,13,65,28,2986220.0,36.9,42009.0,22500.0,620007.0,20.762268,117786.0,3.944318,32.7364,-89.6678,2.176665,15,0.502307
32,South Carolina,7,37,45,4893444.0,39.0,48781.0,26645.0,790657.0,16.157475,170257.0,3.479288,33.9169,-80.8964,0.756114,14,0.286097
15,Louisiana,15,69,22,4663461.0,36.4,46710.0,26205.0,887574.0,19.032517,157186.0,3.370587,31.0689,-91.9968,1.479588,13,0.278763
2,Arkansas,3,37,05,2977944.0,37.9,43813.0,24426.0,524211.0,17.603118,85128.0,2.858617,34.8938,-92.4426,1.242468,12,0.402963
20,Minnesota,4,17,27,5490726.0,37.9,65699.0,34712.0,560995.0,10.217137,130510.0,2.376917,46.2807,-94.3053,0.309613,12,0.218550
14,Kentucky,6,28,21,4424376.0,38.6,46535.0,25888.0,783586.0,17.710656,140717.0,3.180494,37.5347,-85.3021,0.632858,11,0.248623
38,Wisconsin,2,9,55,5763217.0,39.2,56759.0,30557.0,692719.0,12.019658,145271.0,2.520658,44.6243,-89.9941,0.156163,11,0.190866
30,Oklahoma,1,5,40,3896251.0,36.3,49767.0,26461.0,612714.0,15.725732,105375.0,2.704523,35.5889,-97.4943,0.128328,10,0.256657
18,Massachusetts,1,4,25,6789319.0,39.4,74167.0,39913.0,727546.0,10.716038,224856.0,3.311908,42.2596,-71.8083,0.058916,10,0.147290
24,Nevada,2,504,32,2887725.0,37.7,55434.0,28450.0,405263.0,14.033989,116285.0,4.026872,39.3289,-116.6312,17.453185,9,0.311664
23,Montana,1,5,30,1029862.0,39.8,50801.0,28706.0,144198.0,14.001682,25076.0,2.434889,47.0527,-109.6333,0.485502,8,0.776803
5,Connecticut,2,8,09,3594478.0,40.8,73781.0,41365.0,350783.0,9.758941,140712.0,3.914671,41.6219,-72.7273,0.222564,6,0.166923
13,Kansas,4,19,20,2903820.0,36.3,55477.0,29600.0,361285.0,12.441715,71009.0,2.445365,38.4937,-98.3804,0.654311,4,0.137750
12,Iowa,2,9,19,3118102.0,38.1,56570.0,30063.0,361343.0,11.588556,69018.0,2.213462,42.0751,-93.4960,0.288637,4,0.128283
35,Utah,1,5,49,2993941.0,30.5,65325.0,26907.0,324856.0,10.850448,64314.0,2.148139,39.3055,-111.6703,0.167004,3,0.100202
16,Maine,1,5,23,1330158.0,44.3,53024.0,29886.0,166904.0,12.547682,36790.0,2.765837,45.3695,-69.2428,0.375895,3,0.225537
6,Delaware,1,4,10,943732.0,39.8,63036.0,32625.0,111304.0,11.794026,30245.0,3.204829,38.9896,-75.5050,0.423849,2,0.211925
26,New Mexico,2,11,35,2084828.0,37.3,46718.0,25257.0,420293.0,20.159601,73710.0,3.535543,34.4071,-106.1126,0.527621,1,0.047966