In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from datetime import datetime

In [2]:
#Load the raw data
mass_2014 = pd.read_csv("Original_Mass_Shooting_Data/2014.csv")
mass_2015 = pd.read_csv("Original_Mass_Shooting_Data/2015.csv")
mass_2016 = pd.read_csv("Original_Mass_Shooting_Data/2016.csv")
mass_2017 = pd.read_csv("Original_Mass_Shooting_Data/2017.csv")
mass_2018 = pd.read_csv("Original_Mass_Shooting_Data/2018.csv")

In [3]:
#add column for total victims from killed and injured
mass_2014['Total_Victims'] = mass_2014['# Killed'] + mass_2014['# Injured']
mass_2015['Total_Victims'] = mass_2015['# Killed'] + mass_2015['# Injured']
mass_2016['Total_Victims'] = mass_2016['# Killed'] + mass_2016['# Injured']
mass_2017['Total_Victims'] = mass_2017['# Killed'] + mass_2017['# Injured']
mass_2018['Total_Victims'] = mass_2018['# Killed'] + mass_2018['# Injured']

In [4]:
#totals 2014
total2014 = mass_2014['Total_Victims'].sum()
total_killed_2014 = mass_2014['# Killed'].sum()
total_injured_2014 = mass_2014['# Injured'].sum()

In [5]:
#totals 2015
total2015 = mass_2015['Total_Victims'].sum()
total_killed_2015 = mass_2015['# Killed'].sum()
total_injured_2015 = mass_2015['# Injured'].sum()

In [6]:
#totals 2016
total2016 = mass_2016['Total_Victims'].sum()
total_killed_2016 = mass_2016['# Killed'].sum()
total_injured_2016 = mass_2016['# Injured'].sum()

In [7]:
#totals 2017
total2017 = mass_2017['Total_Victims'].sum()
total_killed_2017 = mass_2017['# Killed'].sum()
total_injured_2017 = mass_2017['# Injured'].sum()

In [8]:
#totals 2018
total2018 = mass_2018['Total_Victims'].sum()
total_killed_2018 = mass_2018['# Killed'].sum()
total_injured_2018 = mass_2018['# Injured'].sum()

In [9]:
#combine all totals for visualizations
totals = {'Year': ['2014', '2015','2016','2017', '2018'], 'Total Injured or Killed': [total2014, total2015, total2016, total2017, total2018], 
          'Total Killed': [total_killed_2014, total_killed_2015, total_killed_2016, total_killed_2017, total_killed_2018],
          'Total Injured': [total_injured_2014, total_injured_2015, total_injured_2016, total_injured_2017, total_injured_2018]}

In [10]:
#Review dataframe
totals_df = pd.DataFrame(data = totals)
totals_df

   Year  Total Injured or Killed  Total Killed  Total Injured
0  2014                     1340           262           1078
1  2015                     1705           368           1337
2  2016                     1989           451           1538
3  2017                     2240           437           1803
4  2018                     1720           373           1347

In [11]:
#export as excel for visualization
totals_df.to_csv("totals_df.csv", header=True)

# Total incident count

In [12]:
#groupby State & convert to df for later merge
mass_2014_states = mass_2014.groupby(['State']).count()['Incident Date']
mass_2014_states = pd.DataFrame(data = mass_2014_states)
mass_2015_states = mass_2015.groupby(['State']).count()['Incident Date']
mass_2015_states = pd.DataFrame(data = mass_2015_states)
mass_2016_states = mass_2016.groupby(['State']).count()['Incident Date']
mass_2016_states = pd.DataFrame(data = mass_2016_states)
mass_2017_states = mass_2017.groupby(['State']).count()['Incident Date']
mass_2017_states = pd.DataFrame(data = mass_2017_states)
mass_2018_states = mass_2018.groupby(['State']).count()['Incident Date']
mass_2018_states = pd.DataFrame(data = mass_2018_states)

In [13]:
#Merge all years and rename columns
state_count_1 = pd.merge(mass_2014_states, mass_2015_states, on = 'State')
state_count_2 = pd.merge(mass_2016_states,mass_2017_states, on = 'State')
state_count_3 = pd.merge(state_count_1, state_count_2, on = 'State')
state_count_all = pd.merge(state_count_3, mass_2018_states, on = 'State')
state_count_all.columns = ['2014', '2015', '2016', '2017', '2018']

state_count_all.to_csv("total_count_by_state.csv", header=True)

In [14]:
#Rename States & reset index for later merge with census data
state_count_all.index.names = ['States']
state_count_all = state_count_all.reset_index()
mass_2014_states.index.names = ['States']
mass_2014_states = mass_2014_states.reset_index()
mass_2015_states.index.names = ['States']
mass_2015_states = mass_2015_states.reset_index()
mass_2016_states.index.names = ['States']
mass_2016_states = mass_2016_states.reset_index()
mass_2017_states.index.names = ['States']
mass_2017_states = mass_2017_states.reset_index()
mass_2018_states.index.names = ['States']
mass_2018_states = mass_2018_states.reset_index()

In [15]:
total_mass_shootings = state_count_all.sum()  #get total of mass shootings
#create a data frame for visualization
years = ['2014', '2015', '2016', '2017', '2018']
data = [260, 322, 372, 336, 333]
total_mass_shootings = {'years': years, 'total_shootings' : data}
total_mass_shootings = pd.DataFrame(data = total_mass_shootings)

#export as excel for visualization
total_mass_shootings.to_csv("total_mass_shootings.csv", index = False, header=True)

# Pull US Census Data (2018 Data Not Available)

In [16]:
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2017)

# Configure gmaps
gmaps.configure(api_key="AIzaSyDH3ugUF6TPqs5vaqe5M03_9DXKzT8WAe8")
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2017 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

census_pd_2017.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates
0,72,Puerto Rico,3468963.0,40.1,19775.0,12081.0,1543220.0,44.486494,220597.0,6.359163
1,01,Alabama,4850771.0,38.7,46472.0,25746.0,849699.0,17.516782,165391.0,3.409582
2,02,Alaska,738565.0,33.9,76114.0,35065.0,73380.0,9.935483,29548.0,4.000731
3,04,Arizona,6809946.0,37.2,53510.0,27964.0,1128046.0,16.564683,225911.0,3.317368
4,05,Arkansas,2977944.0,37.9,43813.0,24426.0,524211.0,17.603118,85128.0,2.858617

In [17]:
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2016)

# Configure gmaps
gmaps.configure(api_key="AIzaSyDH3ugUF6TPqs5vaqe5M03_9DXKzT8WAe8")
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2016 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

census_pd_2016.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates
0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,184479.0,3.810633
1,02,Alaska,736855.0,33.6,74444.0,34191.0,72826.0,9.883356,30139.0,4.090221
2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,249972.0,3.715080
3,05,Arkansas,2968472.0,37.7,42336.0,23401.0,542431.0,18.273071,93190.0,3.139326
4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,1683726.0,4.355868

In [18]:
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2015)

# Configure gmaps
gmaps.configure(api_key="AIzaSyDH3ugUF6TPqs5vaqe5M03_9DXKzT8WAe8")
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2015 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

census_pd_2015.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates
0,01,Alabama,4830620.0,38.4,43623.0,24091.0,887260.0,18.367415,207097.0,4.287172
1,02,Alaska,733375.0,33.4,72515.0,33413.0,72957.0,9.948117,31285.0,4.265894
2,04,Arizona,6641928.0,36.8,50255.0,25848.0,1180690.0,17.776314,275712.0,4.151084
3,05,Arkansas,2958208.0,37.7,41371.0,22798.0,553644.0,18.715520,104943.0,3.547519
4,06,California,38421464.0,35.8,61818.0,30318.0,6135142.0,15.968007,1891081.0,4.921939

In [19]:
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2014)

# Configure gmaps
gmaps.configure(api_key="AIzaSyDH3ugUF6TPqs5vaqe5M03_9DXKzT8WAe8")
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"),{"for": "state:*"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rates"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add in Unemployment Rate
census_pd["Unemployment Rates"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd_2014 = census_pd[["State","Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rates", "Unemployment Count", "Unemployment Rates"]]

census_pd_2014.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates
0,01,Alabama,4817678.0,38.2,43511.0,23936.0,889710.0,18.467610,228716.0,4.747432
1,02,Alaska,728300.0,33.4,71829.0,33129.0,71866.0,9.867637,32097.0,4.407112
2,04,Arizona,6561516.0,36.5,49928.0,25537.0,1169309.0,17.820714,304067.0,4.634097
3,05,Arkansas,2947036.0,37.6,41264.0,22595.0,549303.0,18.639168,115090.0,3.905280
4,06,California,38066920.0,35.6,61489.0,29906.0,6115244.0,16.064457,2084564.0,5.476051

In [20]:
#rename columns for later merging
census_pd_2014 = census_pd_2014.rename(columns = {'Name':'States'})
census_pd_2015 = census_pd_2015.rename(columns = {'Name':'States'})
census_pd_2016 = census_pd_2016.rename(columns = {'Name':'States'})
census_pd_2017 = census_pd_2017.rename(columns = {'Name':'States'})

In [21]:
#merge Census and mass shooting data
merged_2014 = pd.merge(mass_2014_states, census_pd_2014, on = 'States')
merged_2015 = pd.merge(mass_2015_states, census_pd_2015, on = 'States')
merged_2016 = pd.merge(mass_2016_states, census_pd_2016, on = 'States')
merged_2017 = pd.merge(mass_2017_states, census_pd_2017, on = 'States')

In [22]:
#load in coordinates for map
coordinates = pd.read_csv('Original_Centroid/state_centroids.csv')
coordinates = pd.DataFrame(data = coordinates)
#rename column for merge with full df
coordinates = coordinates.rename(columns = {'State':'States'})

In [27]:
#merge census & mass shooting data
merged_2014 = pd.merge(merged_2014, coordinates, on = 'States')
merged_2015 = pd.merge(merged_2015, coordinates, on = 'States')
merged_2016 = pd.merge(merged_2016, coordinates, on = 'States')
merged_2017 = pd.merge(merged_2017, coordinates, on = 'States')
merged_2018 = pd.merge(mass_2018_states, coordinates, on = 'States')

#rename columns to tidy up the dataset
merged_2014 = merged_2014.rename(columns = {'Incident Date': 'Mass Shooting Count'})
merged_2015 = merged_2015.rename(columns = {'Incident Date': 'Mass Shooting Count'})
merged_2016 = merged_2016.rename(columns = {'Incident Date': 'Mass Shooting Count'})
merged_2017 = merged_2017.rename(columns = {'Incident Date': 'Mass Shooting Count'})
merged_2018 = merged_2018.rename(columns = {'Incident Date': 'Mass Shooting Count'})

#add column for per capita
merged_2014['Per Capita Mass Shooting'] = merged_2014['Mass Shooting Count'] / merged_2014['Population']
merged_2015['Per Capita Mass Shooting'] = merged_2015['Mass Shooting Count'] / merged_2015['Population']
merged_2016['Per Capita Mass Shooting'] = merged_2016['Mass Shooting Count'] / merged_2016['Population']
merged_2017['Per Capita Mass Shooting'] = merged_2017['Mass Shooting Count'] / merged_2017['Population']

In [25]:
#export as excel for visualization
merged_2014.to_csv("merged_2014.csv", index = False, header=True)
merged_2015.to_csv("merged_2015.csv", index = False, header=True)
merged_2016.to_csv("merged_2016.csv", index = False, header=True)
merged_2017.to_csv("merged_2017.csv", index = False, header=True)
merged_2018.to_csv("merged_2018.csv", index = False, header=True)

In [26]:
merged_2014

,States,Mass Shooting Count,State,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rates,Unemployment Count,Unemployment Rates,Latitude,Longitude,Per Capita Mass Shooting
0,Alabama,2,01,4817678.0,38.2,43511.0,23936.0,889710.0,18.467610,228716.0,4.747432,32.7794,-86.8287,4.151377e-07
1,Alaska,1,02,728300.0,33.4,71829.0,33129.0,71866.0,9.867637,32097.0,4.407112,64.0685,-152.2782,1.373061e-06
2,Arizona,1,04,6561516.0,36.5,49928.0,25537.0,1169309.0,17.820714,304067.0,4.634097,34.2744,-111.6602,1.524038e-07
3,Arkansas,2,05,2947036.0,37.6,41264.0,22595.0,549303.0,18.639168,115090.0,3.905280,34.8938,-92.4426,6.786480e-07
4,California,42,06,38066920.0,35.6,61489.0,29906.0,6115244.0,16.064457,2084564.0,5.476051,37.1841,-119.4696,1.103320e-06
5,Colorado,2,08,5197580.0,36.2,59448.0,31674.0,663861.0,12.772502,219241.0,4.218136,38.9972,-105.5478,3.847945e-07
6,Connecticut,1,09,3592053.0,40.3,69899.0,38480.0,364740.0,10.154082,186587.0,5.194439,41.6219,-72.7273,2.783923e-07
7,District of Columbia,6,11,633736.0,33.7,69235.0,46502.0,109378.0,17.259237,38496.0,6.074454,38.9101,-77.0147,9.467665e-06
8,Florida,16,12,19361792.0,41.2,47212.0,26499.0,3159259.0,16.316976,1024905.0,5.293441,28.6305,-82.4497,8.263698e-07
9,Georgia,17,13,9907756.0,35.8,49342.0,25427.0,1781388.0,17.979732,519291.0,5.241257,32.6415,-83.4426,1.715827e-06
10,Illinois,26,17,12868747.0,37.0,57166.0,30019.0,1810470.0,14.068736,669561.0,5.203001,40.0417,-89.1965,2.020399e-06
11,Indiana,8,18,6542411.0,37.2,48737.0,24953.0,983826.0,15.037667,290469.0,4.439785,39.8942,-86.2816,1.222791e-06
12,Kentucky,4,21,4383272.0,38.3,43342.0,23741.0,803866.0,18.339405,192877.0,4.400297,37.5347,-85.3021,9.125603e-07
13,Louisiana,11,22,4601049.0,36.0,44991.0,24775.0,874638.0,19.009535,189644.0,4.121756,31.0689,-91.9968,2.390759e-06
14,Maine,1,23,1328535.0,43.5,48804.0,27332.0,179878.0,13.539576,51931.0,3.908892,45.3695,-69.2428,7.527088e-07
15,Maryland,1,24,5887776.0,38.1,74149.0,36670.0,573383.0,9.738533,257918.0,4.380567,39.0550,-76.7909,1.698434e-07
16,Massachusetts,4,25,6657291.0,39.3,67846.0,36441.0,742784.0,11.157451,309050.0,4.642279,42.2596,-71.8083,6.008450e-07
17,Michigan,11,26,9889024.0,39.3,49087.0,26143.0,1633316.0,16.516453,554747.0,5.609724,44.3467,-85.4102,1.112344e-06
18,Minnesota,1,27,5383661.0,37.6,60828.0,31642.0,605761.0,11.251841,192010.0,3.566532,46.2807,-94.3053,1.857472e-07
19,Mississippi,4,28,2984345.0,36.3,39464.0,20956.0,653726.0,21.905175,147210.0,4.932741,32.7364,-89.6678,1.340328e-06
20,Missouri,8,29,6028076.0,38.1,47764.0,26006.0,912291.0,15.134033,254534.0,4.222475,38.3566,-92.4580,1.327123e-06
21,Nevada,4,32,2761584.0,36.9,52205.0,26515.0,423578.0,15.338226,166167.0,6.017090,39.3289,-116.6312,1.448444e-06
22,New Jersey,6,34,8874374.0,39.3,72062.0,36359.0,934665.0,10.532180,453097.0,5.105678,40.1907,-74.6728,6.761040e-07
23,New Mexico,1,35,2080085.0,36.8,44968.0,23948.0,426116.0,20.485509,93106.0,4.476067,34.4071,-106.1126,4.807496e-07
24,New York,14,36,19594330.0,38.1,58687.0,32829.0,2978521.0,15.200933,893092.0,4.557910,42.9538,-75.5268,7.144924e-07
25,North Carolina,3,37,9750405.0,37.8,46693.0,25608.0,1669147.0,17.118745,505668.0,5.186123,35.5557,-79.3877,3.076795e-07
26,Ohio,7,39,11560380.0,39.1,48849.0,26520.0,1790564.0,15.488799,536573.0,4.641482,40.2862,-82.7937,6.055164e-07
27,Oklahoma,2,40,3818851.0,36.2,46235.0,24695.0,625508.0,16.379482,124804.0,3.268103,35.5889,-97.4943,5.237177e-07
28,Oregon,2,41,3900343.0,38.9,50521.0,27173.0,638816.0,16.378457,206222.0,5.287279,43.9336,-120.5583,5.127754e-07
29,Pennsylvania,9,42,12758729.0,40.4,53115.0,28912.0,1667858.0,13.072290,556468.0,4.361469,40.8781,-77.7996,7.053994e-07
30,Rhode Island,1,44,1053252.0,39.7,56423.0,30765.0,143996.0,13.671562,53761.0,5.104287,41.6762,-71.5562,9.494404e-07
31,South Carolina,7,45,4727273.0,38.3,45033.0,24222.0,840141.0,17.772212,242145.0,5.122298,33.9169,-80.8964,1.480769e-06
32,South Dakota,1,46,834708.0,36.8,50338.0,26311.0,114444.0,13.710663,21364.0,2.559458,44.4443,-100.2263,1.198024e-06
33,Tennessee,13,47,6451365.0,38.3,44621.0,24811.0,1121344.0,17.381500,296819.0,4.600871,35.8580,-86.3505,2.015077e-06
34,Texas,14,48,26092033.0,33.9,52576.0,26513.0,4500034.0,17.246774,982580.0,3.765824,31.4757,-99.3312,5.365623e-07
35,Utah,2,49,2858111.0,29.9,59846.0,24312.0,358682.0,12.549618,95738.0,3.349695,39.3055,-111.6703,6.997629e-07
36,Virginia,8,51,8185131.0,37.6,64792.0,33958.0,914237.0,11.169485,293310.0,3.583449,37.5215,-78.8537,9.773820e-07
37,Washington,3,53,6899123.0,37.4,60294.0,31233.0,916364.0,13.282326,308955.0,4.478178,47.3826,-120.4472,4.348379e-07
38,Wisconsin,2,55,5724692.0,38.8,52738.0,27907.0,738557.0,12.901253,221662.0,3.872034,44.6243,-89.9941,3.493638e-07